{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Todo App{% endblock %}

{% block page_heading %}User Login{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12 text-center dashboard-heading">
        <p>The smart app for busy people. Your life deserves this.</p>
        <!-- Checking if user has a premium account -->
        {% if user.userprofile.is_premium  %}
            <p>Welcome <a href="{% url 'profile' %}" title="View your Profile">{{ user.username }}</a> you have a premium account</p>
        {% else %}
            <p>Welcome <a href="{% url 'profile' %}" title="View your Profile">{{ user.username }}</a> this is your trial version. You can make a total of 10 Todo's. You can buy the premium version for unlimited Todo's</p>
        {% endif %}
    </div>
</div>
<br>
<div class="container todo-prefix">
    <div class="content">
        <h1>Organize.now</h1>
        <p class="tagline">a todo app</p>
        <form action="" method="post">
            {% csrf_token %}
            <!-- csrf token for basic security -->
            <div class="inputContainer">
                <input type="text" id="description" class="taskName" placeholder="What do you need to do?"
                    name="description" required>
                <label for="description">Description</label>
            </div>
            <div class="inputContainer half last">
                <i class="fa fa-caret-down selectArrow"></i>
                <select id="category" class="taskCategory" name="category_select">
                    <option class="disabled" value="">Choose a category</option>
                    {% for category in categories %}
                    <option class="" value="{{ category.name }}" name="{{ category.name }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
                <label for="category">Category</label>
            </div>
            <div class="inputContainer half last right">
                <input type="date" id="dueDate" class="taskDate" name="date">
                <label for="dueDate">Due Date</label>
            </div>
            <ul class="taskList">
                {% for todo in todos %}
                <!-- django template lang - for loop -->
                <li class="taskItem">
                    <input type="checkbox" class="taskCheckbox" name="checkedbox" id="{{ todo.id }}"
                        value="{{ todo.id }}">
                    <label for="{{ todo.id }}"><span class="complete-">{{ todo.title }}</span></label>
                    <span class="category-{{ todo.category }}">{{ todo.category }}</span>
                    <strong class="taskDate"><i class="fa fa-calendar"></i>{{ todo.created }} -
                        {{ todo.due_date }}</strong>
                </li>
                {% endfor %}
                
            </ul><!-- taskList -->
                        <div class="row">
                {% if show_premium_message == False %}
                    <button class="taskAdd" name="taskAdd" type="submit"><i class="fa fa-plus icon"></i>Add task</button>
                {% endif %}
                <button class="taskDelete" name="taskDelete" formnovalidate="" type="submit"
                    onclick="$('input#sublist').click();"><i class="fa fa-trash-o icon"></i>Delete Tasks</button>
                {% if show_premium_message %}
                    <p>It appears you have run out of available todo slots:</p>
                    <a href="{% url 'create' %}" class="taskAdd"><i class="fa fa-plus icon"></i>Buy Premium!</a> 
                {% endif %}
            </div>
        </form>
    </div><!-- content -->
</div><!-- container -->
{% endblock %}