{"changed":true,"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","value":"Django==1.11.23\nPillow==3.4.2\ncertifi==2019.3.9\nchardet==3.0.4\ncolorama==0.2.5\ndj-database-url==0.5.0\ndjango-forms-bootstrap==3.1.0\ngunicorn==19.9.0\nhtml5lib==0.999\nidna==2.8\npsycopg2==2.8.2\npycurl==7.19.3\npygal==2.4.0\npytz==2019.1\nrequests==2.21.0\nsix==1.5.2\nstripe==2.24.1\nurllib3==1.24.2\nwheel==0.24.0\nwhitenoise==4.1.2","undoManager":{"mark":-2,"position":1,"stack":[[{"start":{"row":6,"column":0},"end":{"row":6,"column":1},"action":"insert","lines":["#"],"id":7}],[{"start":{"row":6,"column":0},"end":{"row":6,"column":1},"action":"remove","lines":["#"],"id":8}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":6,"column":0},"end":{"row":6,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1566548731583}