@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
    min-height: 100%;
    position: relative;
}

h2 {
    font-family: 'Montserrat', sans-serif !important;
}
body {
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #d7edf8;
    height: 100%;
    font-family: 'Montserrat', sans-serif !important;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 60px;
}

.todo-prefix footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.todo-prefix .icon-bar {
    background-color: #fff;
}

.todo-prefix .accountform {
    padding-top: 20px;
}

.todo-prefix .badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.todo-prefix .badge-warning[href] {
    background-color: #c67605;
}

.todo-prefix .product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.todo-prefix caption p {
    word-wrap: break-word;
}

.todo-prefix .row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.todo-prefix .panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.todo-prefix .panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.todo-prefix .product-description {
    min-height: 40px;
}

/* code snippet from https://medium.com/fbdevclagos/how-to-build-a-todo-app-with-django-17afdc4a8f8c */

/* basic reset */
.todo-prefix *,
.todo-prefix *:before,
.todo-prefix *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
/* app */
.todo-prefix html {
    font-size: 100%;
}
.todo-prefix body {
    background: #b1f6cb;
    font-family: 'Open Sans',sans-serif;
}
/* super basic grid structure */
.todo-prefix .container {
    position: relative;
    min-height: 100%;
    width: 600px;
    margin: 0 auto;
    background: #ffffff;
    padding: 20px 0;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.2);
            box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
.todo-prefix .row {
    display: block;
    padding: 10px;
    text-align: center;
    width: 100%;
    clear: both;
    overflow: hidden;
}
.todo-prefix .half {
    width: 50%;
    float: left;
}
.todo-prefix .content {
    background: #fff;
}
/* logo */
.todo-prefix h1 {
    font-family: 'Montserrat', sans-serif;
    color: #666;
    text-align: center;
    font-weight: 400;
    margin: 0;
}
.todo-prefix .tagline {
    margin-top: -10px;
    text-align: center;
    padding: 5px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    color: #777; 
}
/* inputs */
.todo-prefix .inputContainer {
    height: 60px;
    border-top: 1px solid #e5e5e5;
    position: relative;
    overflow: hidden;
}
.todo-prefix .inputContainer.last {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
}
.todo-prefix .inputContainer.half.last.right {
    border-left: 1px solid #efefef;
}
.todo-prefix input[type="date"],
.todo-prefix input[type="text"],
.todo-prefix select {
    height: 100%;
    width: 100%;
    padding: 0 20px;
    position: absolute;
    top: 0;
    vertical-align: middle;
    display: inline-block;
    border: none;
    border-radius: none;
    font-size: 13px;
    color: #777;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
    -webkit-transition: background 0.3s;
            transition: background 0.3s;
}
.todo-prefix input[type="date"] {
    cursor: pointer;
}
.todo-prefix input[type="date"]:focus,
.todo-prefix input[type="text"]:focus,
.todo-prefix select:focus {
    outline: none;
    background: #ecf0f1;
}
.todo-prefix ::-webkit-input-placeholder {
    color: lightgrey;
    font-weight: normal;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
}
.todo-prefix ::-moz-placeholder {
    color: lightgrey;
    font-weight: normal;
    transition: all 0.3s;
}
.todo-prefix ::-ms-input-placeholder {
    color: lightgrey;
    font-weight: normal;
    transition: all 0.3s;
}
.todo-prefix input:-moz-placeholder {
    color: lightgrey;
    font-weight: normal;
    transition: all 0.3s;
}
.todo-prefix input:focus::-webkit-input-placeholder {
    color: #95a5a6;
    font-weight: bold;
}
.todo-prefix input:focus::-moz-input-placeholder {
    color: #95a5a6;
    font-weight: bold;
}
.todo-prefix .inputContainer label {
    padding: 5px 20px;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    color: #777;
    display: block;
    position: absolute;
}
.todo-prefix a,
.todo-prefix button {
    display: inline-block;
    line-height: 49px;
    font-family: 'Montserrat', sans-serif;
    background: transparent;
    border-radius: 2px;
    border: none;
    outline: none;
    height: 50px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding-left: 30px;
    padding-right: 15px;
}
.todo-prefix .icon {
    position: absolute;
    top: 30%;
    left: 10px;
    font-size: 20px;
}
.todo-prefix .taskAdd {
    background: #06f37f;
    padding-left: 31px;
}

.todo-prefix .taskAdd:hover {
    background: #303030;
}
.todo-prefix .taskDelete {
    background: #e74c3c;
    padding-left: 30px;
}
.todo-prefix .taskDelete:hover {
    background: #c0392b;
}
/* task styles */
.todo-prefix .taskList {
    list-style: none;
    padding: 0 20px;
}
.todo-prefix .taskItem {
    border-top: 1px solid #e5e5e5;
    padding: 15px 0;
    color: #777;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.5px;
}
.todo-prefix .taskList .taskItem:nth-child(even) {
    background: #fcfcfc;
}
.todo-prefix .taskCheckbox {
    margin-right: 1em;
}
.todo-prefix .complete-true {
    text-decoration:  line-through;
    color: #bebebe;
}
.todo-prefix .taskList .taskDate {
    color: #95a5a6;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin-left: 41px;
}
.todo-prefix .fa-calendar {
    margin-right: 10px;
    font-size: 16px;
}
.todo-prefix [class*='category-'] {
    display: inline-block;
    font-size: 10px;
    background: #444;
    vertical-align: middle;
    color: #fff;
    padding: 10px;
    width: 75px;
    text-align: center;
    border-radius: 2px;
    float: right;
    font-weight: normal;
    text-transform: uppercase;
    margin-right: 20px;
}
.todo-prefix .category- {
    background: transparent;
}
.todo-prefix .category-Personal {
    background: #2980b9;
}
.todo-prefix .category-Work {
    background: #8e44ad;
}
.todo-prefix .category-School {
    background: #f39c12;
}
.todo-prefix .category-Cleaning {
    background: #16a085;
}
.todo-prefix .category-Other {
    background: #d35400;
}
.todo-prefix .footer {
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    color: #777;
     
    
}
.todo-prefix .footer a {
    color: #f39c12;
   
}
/* custom checkboxes */
.todo-prefix .taskCheckbox {
    -webkit-appearance: none;
            appearance: none;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
    display: inline-block;
    cursor: pointer;
    width: 19px;
    height: 19px;
    vertical-align: middle;
}
.todo-prefix .taskCheckbox:focus {
    outline: none;
}
.todo-prefix .taskCheckbox:before,
.todo-prefix .taskCheckbox:checked:before {
    font-family: 'FontAwesome';
    color: #444;
    font-size: 20px;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
}
.todo-prefix .taskCheckbox:before {
    content: '\f096';
}
.todo-prefix .taskCheckbox:checked:before {
    content: '\f14a';
    color: #16a085;
}
/* custom select menu */
.todo-prefix .taskCategory {
    -webkit-appearance: none;
            appearance: none;
    cursor: pointer;
    padding-left: 16.5px; /*specific positioning due to difficult behavior of select element*/
    background: #fff;
}
.todo-prefix .selectArrow {
    position: absolute;
    z-index: 10;
    top: 35%;
    right: 0;
    margin-right: 20px;
    color: #777;
    pointer-events: none;
}
.todo-prefix .taskCategory option {
    background: #fff;
    border: none;
    outline: none;
    padding: 0 100px;
}

.back-to-top {
    position: fixed;
    bottom: 1.25rem;
    right: 1.875rem;
    z-index: 99;
    font-size: 1.125rem;
    border: none;
    outline: none;
    background-color: #152b7d;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

