{% extends 'base.html' %} 

{% block page_title %}{{ user }}'s Profile{% endblock %} 

{% block page_heading %}{{ user }}'s Profile{% endblock %} 

{% block content %}

<div class="container todo-prefix">
    <div class="row">
        <div class="col-sm">
            <div class="container todo-prefix">
                
                <p>
                    <strong>Username: </strong> {{ user.username }}
                </p>
                <p>
                    <strong>Email: </strong> {{ user.email }}
                </p>
                <p>
                    <strong>Premium: </strong> 
                    {% if user.userprofile.is_premium %}
                    Yes
                    {% else %}
                    No
                    {% endif %}
                </p>
                <p>
                    <strong>Current todos:</strong> {{ todos_count }}
                </p>
                <br>
                {% if user.userprofile.is_premium == False %}
                <a href="{% url 'create' %}" class="taskAdd"><i class="fa fa-plus icon"></i>Buy Premium!</a>
                {% endif %} 
            </div>
        </div>
    </div>
</div>
{% endblock %}