{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Organize.now</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block head_js %}
    {% endblock head_js %}
</head>

<body>
   
     <!-- Fixed masthead -->
    <nav class="navbar navbar-masthead navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Organize.now</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div class="container">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'profile' %}">{{ user.username }}</a></li>
                        <li><a href="{% url 'logout' %}">Log Out</a></li>
                        <li><a href="{% url 'index' %}">Todos</a></li>
                        {% if user.userprofile.is_premium == False %}
                            <li><a href="{% url 'create' %}"><i class="fa fa-shipping-cart"></i>Buy Premium</a></li>
                        {% endif %}
                    {%  else %}
                        <li><a href="{% url 'registration' %}">Register</a></li>
                        <li><a href="{% url 'login' %}">Log In</a></li>
                    {% endif %}

                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        {% if messages %}
            <div class="alert alert-success">
                <div class="messages">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% block content %} {% endblock %}
    </div>
    <!-- Back to top -->
    <button id="js-back-to-top" class="hidden back-to-top" title="Go to top"><i class="fas fa-angle-up"></i></button>

    <!-- Footer -->
    <footer id="footer todo-prefix">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <p id="copyright">Designed by codingbas <a target="_blank" href="https://github.com/codingbas?tab=repositories"><i class="fa fa-github fa-lg github"></i></a></p>
            </div>
        </div>
    
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>