{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block content %}
<div class="alert alert-success">
    <h2>Buy Premium for only €30.00 </h2>
    <p>You will get unlimited Todos in this app. This will be the start of a structured and well-organized life:) </p>
    <form action="{% url 'charge' %}" method="post">
        {% csrf_token %}
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="{{ stripe_id }}"
              data-description="Go for Premium!"
              data-amount="3000"
              data-currency="eur"
              data-locale="auto"></script>
    </form>
</div>
{% endblock %}