{% extends 'base.html' %} {% block content %}

<div class="row">
    <div class="col-md-12 text-center">
        <h1><i class="fa fa-dot-circle-o mr-3" aria-hidden="true"></i>Organize.now</h1>
        <p>Organize.now is the smart app for busy people. Your life deserves this. Welcome 'username' to Organize.now!
        We help you set up your daily life into handy ToDo's. This is your free trail version</p>
    </div>
</div>
&nbsp;
<div class="row">
    <div class="col-md-6 text-center featured">
        <div class="featured-box">
            <div>
                <h3>ToDo's</h3>
                <p>Create To Do's</p>
                <p>Better Organized, keep what i need to do from paper into my mobile!</p>
            </div>
            <div>
                <h4>ToDo's Stats</h4>
                <h6>To Do:</h6>
                <p class="font-weight-bold">{{ todo }}</p>
                <h6>In Progress:</h6>
                <p class="font-weight-bold">{{ progress }}</p>
                <h6>Done:</h6>
                <p class="font-weight-bold">{{ done }}</p>


                <p><a href="#" class="btn btn-success"><span class="glyphicon glyphicon-list-alt"></span> View ToDo's</a></p>
                <p><a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Create ToDo's</a></p>

            </div>
        </div>
        <hr/>
    </div>
</div>
{% endblock %}